.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  padding: 92px 50px;
}

.header__menu {
  justify-self: start;
  align-self: center;
  color: #000;
  font-size: 18px;
  font-weight: 400;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link-active {
  text-decoration: none;
}

.header__logo {
  display: block;
  justify-self: center;
  align-self: start;
}

.header__logo-image {
  display: block;
  height: 105px;
  width: 148px;
  object-fit: contain;
}

.address {
  padding: 6px 0;
  justify-self: end;
  align-self: center;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  max-width: 240px;
}

.indent {
  display: block;
}

/* main */

.content {
  display: flex;
  flex-direction: column;
  gap: 180px;
  font-size: 0;
  margin-bottom: 180px;
}

/* cover section */

.cover {
  position: relative;
  background: url("../images/cover.jpg") center / cover no-repeat;
  width: 100%;
  min-height: 757px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: #000;
  opacity: 0.6;
  width: 100%;
  height: 100%;
}

.cover__title {
  padding: 165px 50px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aligned-text {
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
  z-index: 1;
}

.aligned-text-center {
  padding-right: 30px;
  text-align: center;
  line-height: 100%;
}

.aligned-text-right {
  text-align: right;
  line-height: 100%;
}

.aligned-text .letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  padding: 135px 0 0 422px;
  display: flex;
  gap: 78px;
  align-items: center;
}

.cover__description-text {
  word-spacing: 18px;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px; /*127.273% */
  text-transform: uppercase;
  z-index: 1;
}

.bet-button {
  padding: 12px 32px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 1;
}

/* section lots*/

.lots {
  padding: 0 50px;
}

.lots__title {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 40px;
  margin-bottom: 27px;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
  gap: 25px;
}

.card-link {
  text-decoration: none;
}

.card {
  /* display: flex; */
  position: relative;
  width: 100%;
  min-height: 450px;
}

.card-image-film {
  background-image: url("../images/card-lot-01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.card-image-book {
  background-image: url("../images/card-lot-02.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.card-image-picture {
  background-image: url("../images/card-lot-03.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 450px;
  padding: 50px 40px;
}

.card__title {
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  z-index: 1;
}

.card__text {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  z-index: 1;
}

.card__show-more {
  display: inline-block;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  padding: 30px 40px 0;
  text-decoration-line: underline;
}

/* section about */

.about {
  padding: 0 50px;
}

.about__column {
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 25px;
}

.about__logo {
  display: grid;
  place-content: center;
  margin: 0 95px;
  background-color: #000;
  border-radius: 50%;
  min-width: 240px;
  height: 240px;
}

.about__logo .about__logo-image {
  display: block;
  width: 148px;
  height: 114px;
}

.about__info {
  margin-top: 100px;
}

.about__title {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.about__group {
  display: grid;
  grid-row-gap: 25px;
}

.about__text {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 25px;
}

.about__text:last-child {
  margin: 0;
}

/* footer */

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 90px;
}

.footer__menu {
  padding-top: 5px;
  color: #000;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.footer__menu-list {
  list-style: none;
}

.footer__link-active {
  text-decoration: none;
}

.footer__social-list {
  padding-top: 5px;
  display: flex;
  width: 240px;
  justify-content: space-between;
  list-style: none;
}

.footer__social-icon {
  width: 100%;
  height: 48px;
}
